@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,900');
// @import url("https://fonts.googleapis.com/css?family=Oswald:100,200,300,400,500,600,700,900");
// @import url("https://fonts.googleapis.com/css?family=Lato:100,200,300,400,500,600,700,900");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-1: rgb(5, 55, 85);
  --color-1a: rgba(40, 80, 100, 0.75);
  --color-1b: rgba(40, 80, 100, 0.5);
  --color-1c: rgba(5, 55, 85, 0.25);
  --color-1d: rgba(5, 55, 85, 0.05);
  --color-2: rgb(250, 175, 60);
  --color-2a: rgba(250, 175, 60, 0.75);
  --color-2b: rgba(250, 175, 60, 0.5);
  --color-2c: rgba(250, 175, 60, 0.25);
  --color-2d: rgba(250, 175, 60, 0.05);

  // --color-dark: rgba(15, 15, 15, 1);
  // --color-dark: rgb(15, 25, 35);
  --color-dark: rgb(10, 15, 25);
  --color-light: rgb(230, 230, 230);
  --color-primary: rgb(100, 166, 200);
  --color-secondary: rgb(250, 175, 60);
  --rgb-dark: 10, 15, 25;
  --rgb-light: 230, 230, 230;
  --rgb-primary: 100, 166, 200;
  --rgb-secondary: 250, 175, 60;
}

html,
body,
#root {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

body {
  margin: 0;
  background-color: var(--color-dark);
  font-family: Poppins, sans-serif;
  // font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: initial;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

::-webkit-scrollbar-track {
  background-color: var(--color-dark);
}

::-webkit-scrollbar {
  width: 0.25rem;
  background-color: rgba(var(--rgb-primary), 0.2);
}

::-webkit-scrollbar-thumb {
  border-radius: 0.25rem;
  background-color: rgba(var(--rgb-primary), 0.2);
}

::-webkit-scrollbar-thumb:hover,
::-webkit-scrollbar-thumb:active {
  background-color: rgba(var(--rgb-primary), 0.8);
}

/* disable screen rotation */
@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
  html {
    transform: rotate(-90deg);
    transform-origin: left top;
    width: 100vh;
    overflow-x: hidden;
    position: absolute;
    top: 100%;
    left: 0;
  }
}
