.home-page {
  // --home-page-background-rgb: var(--rgb-dark);
  // --home-page-text-rgb: var(--rgb-light);
  // --home-page-background-color: rgb(var(--home-page-background-rgb));
  // --home-page-text-color: rgb(var(--home-page-text-rgb));

  display: grid;
  place-items: center;
  text-align: center;
}