.movie-details-page {
  --movie-details-background-rgb: var(--rgb-dark);
  --movie-details-text-rgb: var(--rgb-light);
  --movie-details-background-color: rgb(var(--movie-details-background-rgb));
  --movie-details-text-color: rgb(var(--movie-details-text-rgb));
  --movie-details-alert-color: tomato;

  position: relative;
  min-height: 100vh;
  background-color: var(--movie-details-background-color);

  .error-message-box {
    min-height: 20rem;
    display: grid;
    place-items: center;
    grid-column: 1 / span 2;
    color: var(--movie-details-alert-color);
  }
}

.movie-details-background {
  position: relative;
  height: 65vh;
  background-size: cover;
  background-position: center;

  &::after {
    content: '';
    position: absolute;
    inset: 0;
    background-image: linear-gradient(transparent 0%, var(--movie-details-background-color) 100%),
      linear-gradient(to top, var(--movie-details-background-color) 0%, transparent 50%);
  }
}

.movie-details-container {
  position: relative;
  max-width: 75rem;
  margin: -30vh auto 2rem;
  display: grid;
  grid-template-columns: min-content auto;
  column-gap: 2rem;
  box-sizing: border-box;
}

.movie-details-poster {
  position: relative;
  height: 33rem;
  width: 22rem;

  & img {
    height: 100%;
    width: auto;
  }
}

.movie-details-description {
  width: 100%;
  padding: 0;
  color: var(--movie-details-text-color);
  font-size: 1.1rem;
  font-weight: 200;
}

.movie-details-heading {
  padding: 0;
  display: flex;

  .heading-left {
    flex: 1 1 auto;
    & * {
      margin-bottom: 2rem;
    }
  }

  .heading-right {
    flex: 0 0 min-content;
  }
}

.movie-details-title {
  margin-bottom: 1rem;
  padding-right: 2rem;
  font-size: 3rem;
  font-weight: 500;
  line-height: 1;
  // letter-spacing: 0.2rem;
}

.movie-details-tagline {
  font-size: 1rem;
  font-weight: 400;
  font-style: italic;
  text-transform: lowercase;
}

.movie-details-genres {
  margin-bottom: 2rem;

  .movie-genre {
    display: inline-block;
    margin-bottom: 0;
    padding: 0.5rem 1.5rem;
    border: 2px solid var(--movie-details-text-color);
    border-radius: 2rem;
    font-size: 0.8rem;
    font-weight: 600;
    background-color: var(--movie-details-background-color);

    &:not(:first-of-type) {
      margin-left: 0.5rem;
    }
  }
}

.movie-details-plot {
  margin-bottom: 2rem;
  text-align: justify;
}

.movie-stat-list {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 2rem;
}

.movie-stat-item {
  text-align: center;

  & .stat-icon {
    height: 2rem;
    width: 2rem;
  }
}

.movie-recommendations {
  max-width: 75rem;
  margin: 0 auto 2rem;
}

.recommendation-headline {
  color: var(--movie-details-text-color);
  text-align: center;
  font-weight: 500;
  font-size: 1.5rem;
}

@media only screen and (max-width: 960px) {
}

@media only screen and (max-width: 650px) {
}
