.movie-list-page {
  --movie-list-background-rgb: var(--rgb-dark);
  --movie-list-text-rgb: var(--rgb-light);
  --movie-list-background-color: rgb(var(--movie-list-background-rgb));
  --movie-list-text-color: rgb(var(--movie-list-text-rgb));
  --movie-list-alert-color: tomato;
  --movie-list-border-radius: 2rem;

  overflow-y: auto;
  scroll-snap-type: y mandatory;

  & .movie-hero {
    scroll-snap-align: start;
  }

  & .movie-list {
    scroll-snap-align: start;
    margin-top: -4rem;
    padding-top: 4rem;
  }

  .error-message-box {
    min-height: 20rem;
    display: grid;
    place-items: center;
    color: var(--movie-list-alert-color);
  }

  .movie-load {
    display: flex;
    justify-content: center;
    padding: 1rem;
  }
}
