.movie-list-page {
  --movie-list-background-rgb: var(--rgb-dark);
  --movie-list-text-rgb: var(--rgb-light);
  --movie-list-background-color: rgb(var(--movie-list-background-rgb));
  --movie-list-text-color: rgb(var(--movie-list-text-rgb));
  --movie-list-alert-color: tomato;
  --movie-list-border-radius: 2rem;

  min-height: 100vh;

  .error-message-box {
    min-height: 20rem;
    display: grid;
    place-items: center;
    color: var(--movie-list-alert-color);
  }

  .movie-load {
    display: flex;
    justify-content: center;
    padding: 1rem;
  }

  .movie-category-tabs {
    width: 100%;
    padding: 0.5rem 1rem;
    display: flex;
    background: transparent;
    box-shadow: 0 2rem 2rem rgba(var(--movie-list-background-rgb), 0.1);
  }

  .tab-list {
    margin: 0 auto;
    padding: 0;
    list-style: none;
    display: inline-flex;
    flex-shrink: 1;
    justify-content: center;
  }
}
