.bubble-favorite {
  --bubble-background-color: var(--color-dark);
  --favorite-icon-default-color: var(--color-light);
  --favorite-icon-accent-color: red;

  height: 2.5rem;
  width: 2.5rem;
  display: grid;
  place-items: center;
  background-color: var(--bubble-background-color);
  border-radius: 50%;
  color: var(--favorite-icon-default-color);
  cursor: pointer;
  transition: all 0.3s ease;

  & svg {
    height: 65%;
    width: 65%;
  }

  &.inactive svg {
    animation: heartBeat 1.8s linear infinite;
  }

  &.inactive:hover svg {
    animation: heartBeat 0.6s linear infinite;
  }

  &:hover {
    color: var(--favorite-icon-accent-color);
  }
}

@keyframes heartBeat {
  0% {
    transform: scale(0.9);
  }
  25% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  75% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.9);
  }
}
