.header {
  --header-background-rgb: var(--rgb-dark);
  --user-icon-color-initial: var(--color-primary);
  --user-icon-color-hover: var(--color-secondary);
  --user-icon-size: 1.5rem;
  --user-name-color: var(--color-primary);

  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: fit-content(250px) auto fit-content(4rem);
  padding: 0.75rem 1.5rem;
  box-sizing: border-box;
  z-index: 5;

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    background: linear-gradient(
      to bottom,
      rgba(var(--header-background-rgb), 1) 0%,
      rgba(var(--header-background-rgb), 0.2) 90%,
      transparent 100%
    );
    z-index: 0;
  }

  .user {
    display: flex;
    align-items: center;
    width: min-content;
    z-index: 1;
  }

  .user-icon {
    height: var(--user-icon-size);
    width: var(--user-icon-size);
    min-width: var(--user-icon-size);
    z-index: 1;
    cursor: pointer;

    & svg {
      height: 100%;
      width: 100%;
      fill: var(--user-icon-color-initial);
      transition: all 0.5s ease;
    }

    &:hover {
      & svg {
        fill: var(--user-icon-color-hover);
        transform: scale(1.1);
      }
    }
  }

  .user-name {
    display: inline-flex;
    height: var(--user-icon-size);
    width: min-content;
    margin: 0 0.75rem;
    color: var(--user-name-color);
    white-space: nowrap;
  }
}
